.card-wrap {
	max-width: 270px;
	height: 500px;
	border: 1px solid #808080;
	padding: 12px;
}


.card-wrap img {
	display: block;
	width: 100%;
	transition: all 1s ease-out;
}

.card-wrap img:hover{
	transform: scale(1.1);
}

.button-buy {
	border: 1px solid rgb(253, 128, 36);
	background-color: rgb(253, 128, 36);
	padding: 12px;
	border-radius: 4px;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	font-size: 18px;
}
.button-buy:hover {
	background: rgb(255, 255, 255);
	cursor: pointer;
}

.lg {
	position: absolute;
	top: -10px;
	right: -10px;
}


.item-content{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px 0;
	text-align: center;
}

.item-slider-container{
	width: 35%;
	padding: 30px;
	border: 1px solid grey;
}

.item-slider-container img{
width: 200px;
height: 300px;
}
.item-description{
	width: 30%;
	padding: 30px;
	background: rgb(238, 238, 238);
}

.item-slider-container .slick-prev:before,
.item-slider-container .slick-next:before {
	color: red;
	font-size: 36px;
}
.item-slider-container .slick-prev {
	left: -65px;
}
.item-slider-container .slick-next {
	right: -50px;
}

.item-slider img{

	width: 100px; 
}



.contacts-row{
display: flex;
justify-content: center;
margin : 20px 0;
border: 2px solid grey;
}

.contacts-img{
	width: 20%;
	display: flex;
	align-items: center;
	margin: 20px;
	border: 2px solid grey;
}

.contacts-info{
		width: 30%;
		margin: 20px;
		padding: 25px;
		border:2px solid grey;
		border-radius: 5%;
		background-color: beige;
		color: rgb(255, 255, 255);
		background: rgb(0, 109, 183);
		box-shadow: 0px 0px 34px -5px rgba(0,26,255,1);

}

.contacts-map{
	width: 50%;
	margin: 20px;
	border: 2px solid grey;
}

.contacts-title{
	text-align: center;
	margin: 0 0 25px 0;
}

.contacts-phone{
	display: flex;
	margin-bottom: 20px;
}

.contacts-img img{
	display: block;
	width: 100%;
	min-width: 180px;
}

.contacts-form-container{
	background: color;
	background-size: cover;
	padding: 10px 60px 60px 60px;	
}

.contacts-form-title{
	text-align: center;
	margin-bottom: 50px;
}

.contacts-form-container i{
	color: rgb(0, 109, 183);
}

.contacts-form-container .btn{
	background-color: rgb(0, 109, 183);
}

.contacts-form-container .btn:hover{
	background-color: rgb(0, 109, 183)
	opacity: 0.8;
}

.social{
	display: flex;
}
.social li{
margin-right: 10px;
}
.social li a{
	font-size: 0;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: url(../img/sprite_social.svg);
	background-repeat: no-repeat;
	background-size: 405px 70px;
	border-radius: 50%;
}

.social-1{
	background-position: -4px -4px;
}
.social-2{
	background-position: -68px -4px;
}

.social-1:hover{
	background-position: -4px -36px;
}
.social-2:hover{
	background-position: -68px -36px;
}

.row {
	display: flex;
     flex-wrap: wrap;
	padding: 0 4px;
}
.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}
.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

@media screen and (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
}